<h2>Your Posts</h2>
{{#if posts.length}} <!-- Check if there are posts to display -->
    {{#each posts}} <!-- Loop through each post and use the dashboard-post partial -->
        {{> dashboard-post }}
    {{/each}}
{{else}} <!-- If there are no posts, display a message -->
    <p>No posts yet.</p>
{{/if}}

<form class="new-post-form">
    <input type="text" id="post-title" placeholder="Post Title"> <!-- Input for the post title -->
    <textarea id="post-content" placeholder="Post Content"></textarea> <!-- Textarea for the post content -->
    <button type="submit">Create New Post</button> <!-- Submit button for creating a new post -->
</form>


