<h2>Login</h2>
<form class="login-form">
    <input type="text" id="username-login" placeholder="Username"> <!-- Input for the username -->
    <input type="password" id="password-login" placeholder="Password"> <!-- Input for the password -->
    <button type="submit">Login</button> <!-- Submit button for logging in -->
</form>