<h2>Sign Up</h2>
<form class="signup-form">
    <input type="text" id="username-signup" placeholder="Username"> <!-- Input for the username -->
    <input type="password" id="password-signup" placeholder="Password"> <!-- Input for the password -->
    <button type="submit">Sign Up</button> <!-- Submit button for signing up -->
</form>